<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Loginpage</title>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h2>Goodhelp</h2></a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo02 ">
            <ul class="nav">
                <li class="nav-item ">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">คำถามที่พบบ่อย</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ติดต่อเรา</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>  -->
<br>
      <div class="container">
        <div class="login-left">
            <div class="login-header">
                <h1>Welcome to Goodhealth</h1>
                <p>Plese login to website</p>
            </div>
            <form class="login from">
                <div class="login-form-content">
                    <div class="form-item">
                        <label for="email">Enter Email</label>
                        <input type="text" placeholder="enter your email" id="email">
                    </div>
                    <div class="form-item">
                        <label for="password">Enter Password</label>
                        <input type="password" placeholder="enter your password" id="password">
                    </div>
                    <div class="form-item">
                        <div class="checkbox">
                            <input type="checkbox" id="rememberMeCheckbox">
                            <label for="rememberMeCheckbox" class="checkboxLabel">Remember Me</label>
                        </div>
                    </div>
                    <a class="btn-singin" type="submit" role="button" href="ใส่หน้าที่จะให้กดไป">Sign In</a>
                </div>
                <!-- <div class="login-form-footer">
                    <a class="facebook" href="#">
                        <img width="30" src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg" alt="">Facebook Login
                    </a>
                    <a class="google" href="#">
                        <img width="30" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="">Google login
                    </a>
                </div> -->
            </form>
        </div>
        <script src="login.js"></script>
        <div class="login-right">
            <img  src="Image\smiling-asian-doctor-female-nurse-holding-clipboard-pen-wearing-uniform-with-gloves-writing-pati (2).jpg" >
        </div>
      </div>
</body>
</html>