<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Registerpage</title>
</head>
<body>
    <div class="container">
        <div class="heading">Register</div>
        <form action="#">
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="card-box">
                    <span class="details">User Name</span>
                    <input type="text" placeholder="Enter your Username">
                </div>
                <div class="card-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your Email">
                </div>
                <div class="card-box">
                    <span class="details">Phone Number</span>
                    <input type="phone" placeholder="Enter your Phone number">
                </div>
                <div class="card-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your Password">
                </div>
                <div class="card-box">
                    <span class="details">Confirm Password</span>
                    <input type="pass" placeholder="confirmPassword">
                </div>
            </div>
            <div class="circal-form">
                <span class="circal-title">Gender</span>
                <div class="category">
                    <input type="radio" name="gender">Male
                    <input type="radio" name="gender">feMale
                    <input type="radio" name="gender">other
                </div>
            </div>
            <div class="button">
                <input type="button" value="register">
            </div>
        </form>
    </div>
</body>
</html>